@font-face {
  font-family: "Stolzl Regular";
  src: url("./fonts/stolzl-regular.eot");
  src: url("./fonts/stolzl-regular.eot?#iefix") format("embedded-opentype"), url("./fonts/stolzl-regular.woff") format("woff"), url("./fonts/stolzl-regular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Stolzl Medium";
  src: url("./fonts/stolzl-medium.eot");
  src: url("./fonts/stolzl-medium.eot?#iefix") format("embedded-opentype"), url("./fonts/stolzl-medium.woff") format("woff"), url("./fonts/stolzl-medium.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Stolzl Bold";
  src: url("./fonts/stolzl-bold.eot");
  src: url("./fonts/stolzl-bold.eot?#iefix") format("embedded-opentype"), url("./fonts/stolzl-bold.woff") format("woff"), url("./fonts/stolzl-bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
