:root {
  /* Typography */
  --font-stolzl-regular: "Stolzl Regular", system-ui, -apple-system, sans-serif;
  --font-stolzl-medium: "Stolzl Medium", system-ui, -apple-system, sans-serif;
  --font-stolzl-bold: "Stolzl Bold", system-ui, -apple-system, sans-serif;

  /* Colors */
  --color-white: #fff;
  --color-white-rgb: 255 255 255;
  --color-black: #000;
  --color-black-rgb: 0 0 0;
  --color-grey-main: #484552;
  --color-grey-main-rgb: 72 69 82;
  --color-grey-dark: #252235;
  --color-grey-dark-rgb: 37 34 53;
  --color-green-light: #d5ff6a;
  --color-green-main: #b5da57;
  --color-green-main-rgb: 181 218 87;
  --color-green-dark: #9dcd28;
  --color-green-darker: #82af0f;
  --color-orange-main: #e55800;
  --color-bg-1: #f7f8f2;
}
