.Button {
  border: none;
  display: inline-flex;
  align-items: center;
  cursor: pointer;
  transition: 0.2s;

  &.start {
    justify-content: flex-start;
  }

  &.between {
    justify-content: space-between;
  }

  &.center {
    justify-content: center;
  }

  &.end {
    justify-content: end;
  }

  &_text,
  &_icon {
    position: relative;
    z-index: 2;
    transition: 0.3s;
  }

  &_icon {
    flex: 0 0 auto;
    line-height: 0;
  }
}

.default {
  border-radius: 60px;
  background: var(--color-grey-dark);
  color: var(--color-white);

  &:hover {
    background: var(--color-green-main);

    .Button_icon {
      color: var(--color-green-light);
    }
  }

  &:active {
    background: var(--color-green-dark);
  }

  .Button_text {
    font-family: var(--font-stolzl-bold);
  }
}

.dark {
  border-radius: 8px;
  border: 1px solid #434a89;
  background: linear-gradient(180deg, rgb(105 120 255 / 22%) 0%, rgb(51 67 206 / 8%) 100%);
  color: #a4b2ff;

  &:not(:disabled):hover {
    background: linear-gradient(180deg, rgb(126 139 255 / 22%) 0%, rgb(77 92 226 / 8%) 100%);
  }

  &:not(:disabled):active {
    background: linear-gradient(180deg, rgb(105 120 255 / 22%) 0%, rgb(51 67 206 / 8%) 100%);
  }
}
